.seo-overview-wrapper {
  height: 100%;
  width: 100%;
  // ant-col-styling
  .ant-col {
    height: 100%;
  }
  .seo-overview-col {
    padding-left: 2rem;
    padding-right: 8rem;
    // display: flex;
    // flex-direction: column;
  }
  // ant-rows-styling
  .seo-overview-header-row {
    // height: 5%;
    // flex: 1;
  }
  .seo-overview-subheader-row {
    // height: 5%;
    // flex: 1;
  }

  // custom-classes-styling
  .competitors-table {
    .ant-table-title {
      background: #00235b;
      color: #ffffff;
    }
    .ant-table-cell {
      background: #ffffff;
    }
  }
  // .overview-cards {
  //   flex: 8;
  // }
  .seo-overview-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: #00235b;
    }
  }
  .seo-overview-subheader {
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .website-name {
      flex: 5;
      a {
        text-decoration: none;
        color: #000000;
      }
    }
    .update-freq-container {
      .history-logo {
        display: inline-block;
      }
      .ant-select-selector {
        border: none;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 265px;
    }
  }
}
