.seo-overview-wrapper {
  height: 100%;
  width: 100%;

  .seo-overview-col {
    padding-left: 2rem;
  }

  // custom-classes-styling
  
  
  .seo-overview-subheader {
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .website-name {
      flex: 5;
      a {
        text-decoration: none;
        color: #000000;
      }
    }
    .update-freq-container {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      width: 143px;
      background: #f8f8f8;
      .history-logo {
        padding: 5px;
        margin-right: 6px;
        display: inline-block;
      }
      .ant-select-selector {
        border: none;
        background: #f8f8f8;
      }
      .custom-select {
        &:hover,
        &:focus,
        &:active,
        &.ant-select-focused,
        &.ant-select-focused:not(.ant-select-disabled):not(
            .ant-select-customize-input
          ) {
          border: none;
          color: initial;
        }
      }
      .custom-select:focus {
        border-color: none; /* Change the border color when the select is focused */
      }
    }
  }
  .overview-cards-container {
    margin-top: 1.4rem;
    background-color: #ffffff;
    padding: 10px;
    .subheading {
      margin-left: 15px;
    }
    h2 {
      color: #00235b;
      font-family: Inter;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .overview-cards {
    margin-top: 1rem;
    .ant-col {
      margin: 0;
    }
  }
  .charts-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
    .ant-col {
      margin: 0;
    }
    .line-chart-container {
      padding: 10px;
      background: #ffffff;
      margin: 0 0 0 20px;
    }
  }
  .table-row {
    margin-top: 1.4rem;
  }
  .competitors-table {
    .ant-table-title {
      // background: #00235b;
      background: #ffffff;
      color: #00235b;
      font-family: Inter;
      font-size: 21px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;
      // text-align: center;
    }
    .ant-table-cell {
      background: #ffffff;
    }
    .ant-table-thead > tr > th {
      background: #eaf8fe;
      color: #34507c;
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      // text-align: center;
    }
    .ant-table-cell {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      color: #00235b;
    }
  }
 
}
