.table-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.input-conatiner{
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
.domain-input{
  width: 30%;
}
.limit-input{ 
  width: 10%;
}
.pages-wrapper{
  margin-top: 2.6rem;
}