.backlinks-dashboard {
  .dashboard-col {
    padding-left: 2rem;
  }
  .overview-cards-container {
    margin-top: 1.4rem;
    background-color: #ffffff;
    padding: 10px;
    .subheading {
      margin-left: 15px;
    }
    h2 {
      color: #00235b;
      font-family: Inter;
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .overview-cards-custom {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Three columns per row */
    gap: 2rem;
    text-align: left;
    margin-top: 1rem;
    .ant-col {
      margin: 0;
    }
  }
  .bottom-row {
    background-color: #ffffff;
    margin-top: 2rem;
    h2 {
      font-family: "Inter";
      font-size: 21px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;
      margin-left: 20px;
    }
    .card-col {
      margin: 0;
    }
    .cards-row {
      box-shadow: 0px 3px 8px -1px #3232470d;
      box-shadow: 0px 0px 1px 0px #0c1a4b3d;
    }
  }
}
