.keyword-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.keywords-dashboard{
    width: 100%;
    margin-bottom: 5rem;
}

.keywords-dashboard-header {
    display: flex;
    justify-content: center;
}
  