.affected-pages-wrapper {
  .affected-pages-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .circle-logo {
      display: block;
      max-width: 50%;
    }
    .values-container{
      flex: 1;
    }
    .left-content {
      display: flex;
      align-items: center;
      p{
        margin: 0;
      }
    }
    .right-content {
      margin-left: auto;
      h2, p{
          margin: 0;
      }
    }
  }
}
