.custom-Table {
  .ant-table-title {
    // background: #00235b;
    background: #ffffff;
    color: #00235b;
    font-family: Inter;
    font-size: 21px;
    font-weight: 500 !important;
    line-height: 26px;
    letter-spacing: 0em;
    // text-align: center;
  }
  .ant-table-cell {
    background: #ffffff;
    color: rgba(4, 79, 200, 1);
  }
  .ant-table-thead > tr > th {
    background: #eaf8fe;
    color: #34507c;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    // text-align: center;
  }
  .ant-table-cell {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #00235b;
  }
  .ant-table-thead > tr > td {
    background: #eaf8fe;
  }
}
