.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > * {
        margin: 0 10px;
        font-style: none;
    }
}

.site-analytics {
    &-content {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
        &-chart {
            height: 250px !important;
            width: auto;
        }
    }

    &-card {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 15px;
        border-radius: 5px;
        &-title {
            word-wrap: break-word;
            font-size: 13px;
        }
        &-count {
            font-size: 20px;
            >span {
                font-size: 15px;
            }
        }
    }
}