.dashboard-container {
    height: 100%;    
}

.dashboard-card {
    height: 100%;
    padding: 10px 15px;
    &-content {
        height: fit-content !important;
    }
}

.ant-col {
    margin: 5px 5px 0 0;
}