.overview-card-wrapper {
  // border-left: 2px solid #00a6ed;
  background: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 15px;
  box-shadow: 0px 6.800000190734863px 20px 0px #3434340e;
  box-shadow: 0px 20px 60px 0px #3434341c;
  border-radius: 20px;
  .card-container {
    display: flex;
    align-items: center;
    justify-content: left;
    .logo-img {
      height: 60px;
      width: 60px;
      //display: block;
      margin-left: 20px;
    }
    .content-wrapper {
      margin-left: 25px;
      .value-wrapper {
        display: flex;
        align-items: center;
        .inc-dec-logo {
          display: block;
          width: 29px;
          height: 19px;
          margin-left: 8px;
        }
        h2 {
          //font-family: Inter;
          font-size: 28px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
        }
      }
      .title {
        margin: 0;
        padding: 0;
      }
    }
    .title {
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
