.app{
  margin: 0;
  padding: 0;
}

.ant-menu {
  height: 100%;
}

.menu-item-header {
  font-size: 20px;
  margin-bottom: 20px !important;
}

.menu-items {
  display: flex !important;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  height: auto;
  padding: 10px 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.router-container {
  width: 100%;
  height: 100%;
}
.navbar {
  height: 100%;
  width: 200px;
}
.domain-input{
  width: 30%;
}
.limit-input{ 
  width: 10%;
}
.pages-wrapper{
  margin-top: 2.6rem;
}

.hyperLink:hover {
  text-decoration: underline;
}